//Переменные=========================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1320;
$md1: $maxWidthContainer + 12;
$netbook: 991.98 + px;
$tablet: 767.98;
$phone: 479.98;


$text: #27272a;
$title: #18181b;
$lightText: #a1a1aa;
$bgColor: #fafafa;
$white: #fff;
