.work {
  margin-top: 170px;
  @media screen and (max-width: 480px) {
    margin-top: 60px;
  }

  &__title {
    margin-bottom: 50px;
    @media screen and (max-width: 480px) {
      margin-bottom: 26px;
    }
  }
  // .work__content
  &__content {
    display: flex;
    gap: 24px;
  }
  // .work__accordion
  &__accordion {
    flex: 1 1 770px;
  }
  // .work__img
  &__img {
    @media screen and (max-width: 1200px) {
      display: none;
    }
  }
}
.section-title {
}
.work-accordion {
  padding: 10px 0;
  // .work-accordion__list
  &__list {
    counter-reset: number;
  }
  // .work-accordion__item
  &__item {
    position: relative;
    &::before {
      counter-increment: number;
      content: counter(number);
      position: absolute;
      top: 35px;
      left: 0;
      transform: translateY(-50%);
      border-radius: 50%;
      width: 40px;
      height: 40px;
      color: $white;
      background-color: $title;
      display: grid;
      place-content: center;
      transition: all 0.5s ease;
    }
  }
  // .work-accordion__control
  &__control {
    padding-left: 60px;
    transition: all 0.3s ease;
  }
  // .work-accordion__title
  &__title {
  }
  // .work-accordion__icon
  &__icon {
    background-color: transparent;
  }
  // .work-accordion__content
  &__content {
    // .work-accordion__content_text
    &_text {
    }
    // .work-accordion__content_list
    &__list {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    // .work-accordion__content_item
    &__item {
      position: relative;
      padding-left: 22px;
      &::before {
        width: 10px;
        height: 10px;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        transform: translateY(50%);
        display: block;
        border-radius: 50%;
        background-color: $title;
      }
    }
  }
}
.accordion.active {
  .work-accordion__control {
    background-color: $title;
  }
  .work-accordion__icon {
    &::after,
    &::before {
      background-color: $white;
    }
  }
}

.work-accordion__item.active {
  transition: all 0.3s ease;
  &::before {
    background-color: $bgColor;
    color: $title;
  }
}
