<section class="about-service">
  <div class="about-service__container">
    <div class="about-service_body">
      <h2 class="about-service__title section-title">Про послугу</h2>
      <p class="about-service__text">
        це комплекс заходів, спрямований на те, щоб зробити ваш сайт
        привабливішим в очах пошукових систем. Мета такого просування – показ
        сайту на перших позиціях у результатах органічного пошуку. Чим вище сайт
        знаходиться в результатах видачі за цільовими запитами, тим більше
        трафіку на вашому сайті, відповідно більше потенційних клієнтів для
        компанії.
      </p>
    </div>
    <div class="about-service__image">
      <img
        src="/images/bgaboutservice.webp"
        alt="magnifying glass over the graphs"
      />
    </div>
  </div>
</section>
