<section class="cost-block">
  <div class="cost-block__container">
    <div class="cost-block__item">
      <h3 class="cost-block__title">Вже працюєте по SEO?</h3>
      <p class="cost-block__text">
        Замовте аудит та отримайте рекомендації щодо скорочення витрат.
      </p>
      <div class="cost-block__btn">
        <button class="btn">Отримати аудит</button>
      </div>
    </div>
    <div class="cost-block__item">
      <h3 class="cost-block__title">Є технічне завдання?</h3>
      <p class="cost-block__text">
        Якщо у вас вже є готове ТЗ під ваш проект з усією необхідною
        інформацією, надішліть його нам і ми оцінимо роботу.
      </p>
      <div class="cost-block__btn">
        <button class="btn-white">Надіслати файл</button>
      </div>
    </div>
  </div>
</section>
