<section class="faq">
  <div class="faq__container">
    <h2 class="section-title faq__title">Поширені запитання</h2>
    <load
      ="src/components/_accordion.html"
      title="Як формується вартість SEO-просування?"
      text="Вартість SEO-просування включає погодинну оплату роботи фахівців + бюджет на витратну частину (написання контенту, посилання). Також вартість залежить від наступних факторів: обсягу посадкових сторінок сайту, конкурентності ніші, регіону просування, охоплення семантичного ядра, необхідних технічних доробок.
    "
    />
    <load
      ="src/components/_accordion.html"
      title="Як зрозуміти, що робить спеціаліст та які завдання виконуються?"
      text="На початку робіт керівник відділу спільно з командою складає стратегію та план робіт, визначаються терміни та KPI. Наш клієнт в особистому кабінеті завжди знає, чим займається SEO-фахівець та які завдання виконуються зараз. Також з вами завжди на зв'язку менеджер з проекту."
    />
    <load
      ="src/components/_accordion.html"
      title="Коли буде видно результат?"
      text="У разі використання платних каналів (контекстна та таргетована реклама) - результат у вигляді заявок та продажів буде видно відразу. При SEO просуванні перші результати буде видно через 2-3 місяці після старту співпраці."
    />
    <load
      ="src/components/_accordion.html"
      title="Які ви даєте гарантії?"
      text="Якщо в процесі робіт над оптимізацією сайту ми стикаємося з форсмажором (технічними особливостями, які не дозволяють впровадити всі наші редагування або потребує значного часу на впровадження), ми зупиняємо роботи, інформуємо вас про подробиці, повертаємо оплату, переглядаємо план робіт та погоджуємо подальші дії."
    />
    <div class="accordion">
      <button class="accordion__control" aria-expanded="false">
        <span class="accordion__title"
          >Від чого залежить вартість SEO-просування?</span
        >
        <span class="accordion__icon"></span>
      </button>
      <div class="accordion__content" aria-hidden="true">
        <p class="accordion__content_text">
          <p>Основні фактори, що впливають:</p>
          <ul>
            <li>- Географія охоплення;</li>
            <li>- Складність тематики;</li>
            <li>- Кількість категорій (асортимент товарів);</li>
            <li>- поточні позиції сайту;</li>
            <li>- якість посилального профілю;</li>
            <li>- Наявність УТП в рекламному оголошенні;</li>
            <li>- правильно написані та оформлені посадкові сторінки.</li>
          </ul>
        </p>
      </div>
    </div>

    <load
      ="src/components/_accordion.html"
      title="Я не знайшов відповіді на своє запитання"
      text="Якщо ви так і не знайшли відповіді на своє запитання, залишайте заявку у нас на сайті або пишіть пошту info@imaris.ua і наш менеджер зв'яжеться з вами найближчим часом."
    />
  </div>
</section>
