<section class="form" id="form">
  <div class="form__container">
    <div class="form__content">
      <h2 class="form__title section-title">
        Готові впроваджувати наші рекомендації та зростати?
      </h2>
      <p class="form__subtitle">
        Заповніть форму нижче і ми з вами зв'яжемося.
      </p>
      <form action="/">
        <input class="form__name" type="text" placeholder="Ім'я " />
        <input class="form__mail" type="mail" placeholder="Ваш Email" />
        <input
          class="form__phone"
          type="phone"
          placeholder="Ваш номер телефону"
        />
        <button class="form__button btn" role="submit">Відправити</button>
      </form>
    </div>
    <div class="form__image">
      <img src="/images/formBG.jpg" alt="planet" loading="lazy" />
    </div>
  </div>
</section>
