<section class="hero">
  <div class="hero__container">
    <div class="hero__body">
      <h1 class="hero__title">SEO просування сайтів</h1>
      <ul class="hero__text-list">
        <li class="hero__text-item">
          - Зростання відвідуваності сайту з 2-го місяця, приблизно +5% на
          місяць;
        </li>
        <li class="hero__text-item">
          - Середній час просування - від 6 місяців;
        </li>
        <li class="hero__text-item">
          - Для нових точок зростання проекту, проводемо безкоштовні
          експрес-аудити рекламних кабінетів та сайтів.
        </li>
      </ul>
      <div class="hero__buttons">
        <a class="hero__btn btn" href="#form">Заповнити бриф</a>
        <a class="hero__btn btn-white" href="#form">Послуги</a>
      </div>
    </div>

    <div class="hero__advantages">
      <ul class="advantages__list">
        <li class="advantages__item">
          <p class="advantages__item_number">9+</p>
          <p class="advantages__item_text">
            років успішного досвіду на різних ринках України, США, Європи
          </p>
        </li>
        <li class="advantages__item">
          <p class="advantages__item_number">200+</p>
          <p class="advantages__item_text">
            успішних проектів в різних сегментах бізнесу
          </p>
        </li>
        <li class="advantages__item">
          <p class="advantages__item_number">63%</p>
          <p class="advantages__item_text">
            нових партнерів приходять за рекомендацією поточних клієнтів
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
