<section class="services">
  <div class="services__container">
    <h2 class="services__title section-title">
      Послуги, які можуть входити до складу:
    </h2>
    <div class="services__content">
      <ul class="services__content__list">
        <li class="services__content__item active">
          <div class="services__content__item__title">
            <p class="services__item__title">SEO-аудит</p>
            <svg
              class="services__item__arrow"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
            >
              <path
                d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
              />
            </svg>
          </div>
          <div class="services__content__item__text">
            <div class="services__item__text__header">
              <p class="services__text__header__title">SEO-аудит</p>
              <p class="services__text__header__subtitle">
                Вартість: від 200 $
              </p>
            </div>
            <p class="services__text__description">
              Комплексна оцінка всіх показників, що впливають на позицію web-
              ресурсу в пошуковій видачі, а також на роботу сайту в цілому
            </p>
            <p class="services__text__subtitle">Переваги:</p>
            <ul class="services__text__description__list">
              <li class="services__text__description__item">
                Повний аналіз сайту;
              </li>
              <li class="services__text__description__item">
                Виявлення основних причин не зростаючого трафіку;
              </li>
              <li class="services__text__description__item">
                Виявлення слабких місць у конкурентів;
              </li>
              <li class="services__text__description__item">
                Рекомендації щодо вирішення проблем сайту;
              </li>
            </ul>
            <div><button class="btn">Замовити</button></div>
          </div>
        </li>
        <li class="services__content__item">
          <div class="services__content__item__title">
            <p class="services__item__title">SEO на етапі розробці</p>
            <svg
              class="services__item__arrow"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
            >
              <path
                d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
              />
            </svg>
          </div>
          <div class="services__content__item__text">
            <div class="services__item__text__header">
              <p class="services__text__header__title">SEO на етапі розробці</p>
              <p class="services__text__header__subtitle">
                Вартисть: від 200 $
              </p>
            </div>
            <p class="services__text__description">
              Створення якісного та конкурентного ресурсу, який з першого дня
              потрапить у пошукові системи.
            </p>
            <p class="services__text__subtitle">Переваги:</p>
            <ul class="services__text__description__list">
              <li class="services__text__description__item">
                Рекомендації згідно з факторами ранжирування пошукових систем;
              </li>
              <li class="services__text__description__item">
                Оптимізація згідно вимогами пошукових систем;
              </li>
              <li class="services__text__description__item">
                Аналітичний підхід до розробки структури сайту;
              </li>
              <li class="services__text__description__item">
                Складання СЯ та докладне ТЗ для копірайтерів.
              </li>
            </ul>
            <div><button class="btn">Замовити</button></div>
          </div>
        </li>
        <li class="services__content__item">
          <div class="services__content__item__title">
            <p class="services__item__title">
              SEO-просування сайтів на CMS Бітрикс
            </p>
            <svg
              class="services__item__arrow"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
            >
              <path
                d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
              />
            </svg>
          </div>
          <div class="services__content__item__text">
            <div class="services__item__text__header">
              <p class="services__text__header__title">
                SEO-просування сайтів на CMS Бітрикс
              </p>
              <p class="services__text__header__subtitle">
                Вартість: від 600 $
              </p>
            </div>
            <p class="services__text__description">
              Ефективна оптимізація веб-ресурсів для збільшення доходу
              підприємців
            </p>
            <p class="services__text__subtitle">Переваги:</p>
            <ul class="services__text__description__list">
              <li class="services__text__description__item">
                Трафік відразу після запуску;
              </li>
              <li class="services__text__description__item">
                Індивідуальні консультації з виявлених проблем;
              </li>
              <li class="services__text__description__item">
                Оптимізація згідно з вимогами пошукових систем;
              </li>
              <li class="services__text__description__item">
                Рекомендації щодо факторів ранжування пошукових системпросування
                товарів з попитом, що вже склався;
              </li>
            </ul>
            <div><button class="btn">Замовити</button></div>
          </div>
        </li>
        <li class="services__content__item">
          <div class="services__content__item__title">
            <p class="services__item__title">Внутрішня оптимізація сайту</p>
            <svg
              class="services__item__arrow"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
            >
              <path
                d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
              />
            </svg>
          </div>
          <div class="services__content__item__text">
            <div class="services__item__text__header">
              <p class="services__text__header__title">
                Внутрішня оптимізація сайту
              </p>
              <p class="services__text__header__subtitle">
                Вартість: від 300 $
              </p>
            </div>
            <p class="services__text__description">
              Ствроення зручного користувачів та правильний для пошукових систем
              ресурс
            </p>
            <p class="services__text__subtitle">Переваги:</p>
            <ul class="services__text__description__list">
              <li class="services__text__description__item">
                Технічна оптимізація;
              </li>
              <li class="services__text__description__item">
                Видалення дублюючого контенту;
              </li>
              <li class="services__text__description__item">
                Створення правильної, конкурентоспроможної структури веб-сайту
                виходячи з семантичного ядра;
              </li>
              <li class="services__text__description__item">
                Оптимізація контенту та мета – даних;
              </li>
              <li class="services__text__description__item">
                Повна підготовка функціонування Інтернет - ресурсу.
              </li>
            </ul>
            <div><button class="btn">Замовити</button></div>
          </div>
        </li>
        <li class="services__content__item">
          <div class="services__content__item__title">
            <p class="services__item__title">Складання семантичного ядра</p>
            <svg
              class="services__item__arrow"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
            >
              <path
                d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
              />
            </svg>
          </div>
          <div class="services__content__item__text">
            <div class="services__item__text__header">
              <p class="services__text__header__title">
                Складання семантичного ядра
              </p>
              <p class="services__text__header__subtitle">
                Вартість: від 300 $
              </p>
            </div>
            <p class="services__text__description">
              Анализ конкурентів, збір ключів із різних джерел та складання ТЗ
              копірайтеру
            </p>
            <p class="services__text__subtitle">Переваги:</p>
            <ul class="services__text__description__list">
              <li class="services__text__description__item">
                Повне вивантаження слів ваших конкурентів;
              </li>
              <li class="services__text__description__item">
                Детальне сортування семантичного ядра;
              </li>
              <li class="services__text__description__item">
                Доповнення структури новими посадковими сторінками після
                збирання ключів;
              </li>
              <li class="services__text__description__item">
                Можливість вашому сайту мати відмінні поведінкові фактори та
                увагу ваших потенційних клієнтів.
              </li>
            </ul>
            <div><button class="btn">Замовити</button></div>
          </div>
        </li>
        <li class="services__content__item">
          <div class="services__content__item__title">
            <p class="services__item__title">Виведення з-під фільтрів</p>
            <svg
              class="services__item__arrow"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
            >
              <path
                d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
              />
            </svg>
          </div>
          <div class="services__content__item__text">
            <div class="services__item__text__header">
              <p class="services__text__header__title">
                Виведення з-під фільтрів
              </p>
              <p class="services__text__header__subtitle">
                Вартість: від 360 $
              </p>
            </div>
            <p class="services__text__description">
              Комплекс заходів щодо позбавлення web-ресурсу від небажаних
              заборон пошукових систем
            </p>
            <p class="services__text__subtitle">Переваги:</p>
            <ul class="services__text__description__list">
              <li class="services__text__description__item">
                Визначення фактора накладення санкцій на веб-сайт;
              </li>
              <li class="services__text__description__item">
                Відновлення трафіку та позицій,
              </li>
              <li class="services__text__description__item">
                Повернення сторінок веб-сайту до індексу пошукових систем;
              </li>
              <li class="services__text__description__item">
                Надання рекомендацій для уникнення санкцій надалі.
              </li>
            </ul>
            <div><button class="btn">Замовити</button></div>
          </div>
        </li>
        <li class="services__content__item">
          <div class="services__content__item__title">
            <p class="services__item__title">Просування інтернет-магазинів</p>
            <svg
              class="services__item__arrow"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
            >
              <path
                d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
              />
            </svg>
          </div>
          <div class="services__content__item__text">
            <div class="services__item__text__header">
              <p class="services__text__header__title">
                Просування інтернет-магазинів
              </p>
              <p class="services__text__header__subtitle">Вартість: від 780$</p>
            </div>
            <p class="services__text__description">
              Отримання трафіку та продажів із сайту за допомогою
              digital-інструментів
            </p>
            <p class="services__text__subtitle">Переваги:</p>
            <ul class="services__text__description__list">
              <li class="services__text__description__item">
                Повний digital-аудит вашого магазину для знаходження
                нерентабельних дій в онлайн-просуванні;
              </li>
              <li class="services__text__description__item">
                Ефективні інструменти підвищення конверсій саме для
                інтернет-магазинів;
              </li>
              <li class="services__text__description__item">
                Залучення тільки цільових клієнтів.
              </li>
            </ul>
            <div><button class="btn">Замовити</button></div>
          </div>
        </li>
        <li class="services__content__item">
          <div class="services__content__item__title">
            <p class="services__item__title">Комплексне просування сайту</p>
            <svg
              class="services__item__arrow"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
            >
              <path
                d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
              />
            </svg>
          </div>
          <div class="services__content__item__text">
            <div class="services__item__text__header">
              <p class="services__text__header__title">
                Комплексне просування сайту
              </p>
              <p class="services__text__header__subtitle">
                Вартість: від 2700$
              </p>
            </div>
            <p class="services__text__description">
              Об'єднання всіх каналів просування в одну систему і побудова
              конверсійної воронки під ваші цілі та завдання
            </p>
            <p class="services__text__subtitle">Переваги:</p>
            <ul class="services__text__description__list">
              <li class="services__text__description__item">
                Впровадження комплексної стратегії, яка дозволить збільшити
                кількість замовлень та прибуток компанії;
              </li>
              <li class="services__text__description__item">
                Работа зі всією вашою аудиторією, щоб рухати потенційних
                клієнтів від першого торкання до покупки;
              </li>
              <li class="services__text__description__item">
                Комплексне просування дає кращий ефект, ніж використання окремих
                інструментів.
              </li>
            </ul>
            <div><button class="btn">Замовити</button></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
