<section class="who-needs">
  <div class="who-needs__container">
    <div class="who-needs__title">
      <h2 class="section-title">Кому потрібно SEO?</h2>
      <p class="who-needs__subtitle">
        Згідно з даними досліджень – 80% переходів на сайти надходить саме з
        пошуку. Переважна більшість людей ставляться до органічних результатів
        видачі з більшою довірою, ніж до реклами.
      </p>
    </div>
    <div class="who-needs__text">
      <ul class="who-needs__list">
        <li class="who-needs__item">
          <h3 class="who-needs__item-title">
            Якщо потрібно зменшити ціну за клік (CPC)
          </h3>
          <p class="who-needs__item-text">
            Коли ніша висококонкурентна, аукціон у контекстній рекламі
            перегрітий і ціна за клік занадто висока. Щоб її зменшити, потрібно
            оптимізувати показник якості сторінки, і з цим може допомогти SEO.
          </p>
        </li>
        <li class="who-needs__item">
          <h3 class="who-needs__item-title">Якщо великий асортимент товарів</h3>
          <p class="who-needs__item-text">
            Кожна картка товару може бути посадковою сторінкою для потенційного
            покупця, а отже по великій кількості запитів вас можуть знаходити.
          </p>
        </li>
        <li class="who-needs__item">
          <h3 class="who-needs__item-title">
            Якщо потрібна грамотна структура сайту
          </h3>
          <p class="who-needs__item-text">
            Коли відвідуваність сайту висока, а структура не зрозуміла -
            користувачі йдуть з сайту, не знайшовши те, що шукали.
          </p>
        </li>
        <li class="who-needs__item">
          <h3 class="who-needs__item-title">
            Якщо необхідно збільшити трафік та потрапити в ТОП
          </h3>
          <p class="who-needs__item-text">
            SEO - це робота на перспективу, і не варто очікувати значних
            результатів вже в 1 місяць роботи. В даному випадку йде
            накопичувальний ефект, чим більше довіру зі сторони пошукових систем
            до вашого сайту, тим вище він буде стояти, і на це потрібен час, щоб
            він не попав в "бан". Через 4-8 місяців ваш сайт стане самостійним
            істочником залучення клієнтів, якщо реклама працює за принципом
            "поки ви платите - реклама показується", то в SEO навпаки -
            результат є навіть тоді, коли ви якийсь період не займалися цим
            просуванням.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
