<section class="work">
  <div class="work__container">
    <h2 class="section-title work__title">Як проходитиме наша робота?</h2>
    <div class="work__content">
      <div class="work__accordion">
        <ol class="work-accordion__list">
          <li class="work-accordion__item">
            <div class="work-accordion accordion">
              <button
                class="work-accordion__control accordion__control"
                aria-expanded="false"
              >
                <span class="work-accordion__title accordion__title"
                  >{=$title}</span
                >
                <span class="work-accordion__icon accordion__icon"></span>
              </button>
              <div
                class="work-accordion__content accordion__content"
                aria-hidden="true"
              >
                <p class="work-accordion__content_text accordion__content_text">
                  {=$text}
                </p>
              </div>
            </div>
          </li>
          <li class="work-accordion__item">
            <div class="work-accordion accordion">
              <button
                class="work-accordion__control accordion__control"
                aria-expanded="false"
              >
                <span class="work-accordion__title accordion__title"
                  >{=$title}</span
                >
                <span class="work-accordion__icon accordion__icon"></span>
              </button>
              <div
                class="work-accordion__content accordion__content"
                aria-hidden="true"
              >
                <p class="work-accordion__content_text accordion__content_text">
                  {=$text}
                </p>
              </div>
            </div>
          </li>
          <li class="work-accordion__item">
            <div class="work-accordion accordion">
              <button
                class="work-accordion__control accordion__control"
                aria-expanded="false"
              >
                <span class="work-accordion__title accordion__title"
                  >{=$title}</span
                >
                <span class="work-accordion__icon accordion__icon"></span>
              </button>
              <div
                class="work-accordion__content accordion__content"
                aria-hidden="true"
              >
                <p class="work-accordion__content_text accordion__content_text">
                  {=$text}
                </p>
              </div>
            </div>
          </li>
          <li class="work-accordion__item">
            <div class="work-accordion accordion">
              <button
                class="work-accordion__control accordion__control"
                aria-expanded="false"
              >
                <span class="work-accordion__title accordion__title"
                  >{=$title}</span
                >
                <span class="work-accordion__icon accordion__icon"></span>
              </button>
              <div
                class="work-accordion__content accordion__content"
                aria-hidden="true"
              >
                <p class="work-accordion__content_text accordion__content_text">
                  {=$text}
                </p>
              </div>
            </div>
          </li>
        </ol>
      </div>
      <div class="work__img">
        <img src="/public/images/bgWork.png" alt="img" />
      </div>
    </div>
  </div>
</section>
