<section class="work">
  <div class="work__container">
    <h2 class="section-title work__title">Як проходитиме наша робота?</h2>
    <div class="work__content">
      <div class="work__accordion">
        <ol class="work-accordion__list">
          <li class="work-accordion__item">
            <div class="work-accordion accordion">
              <button
                class="work-accordion__control accordion__control"
                aria-expanded="false"
              >
                <span class="work-accordion__title accordion__title"
                  >Знайомство та заповнення брифа</span
                >
                <span class="work-accordion__icon accordion__icon"></span>
              </button>
              <div
                class="work-accordion__content accordion__content"
                aria-hidden="true"
              >
                <div
                  class="work-accordion__content_text accordion__content_text"
                >
                  <ul>
                    <li>
                      Обговорюємо проект та визначаємо основні завдання вашого
                      бізнесу, які необхідно вирішити;
                    </li>
                    <li>Заповнення брифу для попередньої оцінки;</li>
                    <li>
                      Оффлайн/онлайн зустріч для узгодження вимог щодо проекту +
                      визначаємо ключові показники ефективності;
                    </li>
                    <li>
                      Підписання договору та внесення 100% передоплати для
                      старту робіт.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="work-accordion__item">
            <div class="work-accordion accordion">
              <button
                class="work-accordion__control accordion__control"
                aria-expanded="false"
              >
                <span class="work-accordion__title accordion__title"
                  >Окрема команда під ваш проект</span
                >
                <span class="work-accordion__icon accordion__icon"></span>
              </button>
              <div
                class="work-accordion__content accordion__content"
                aria-hidden="true"
              >
                <div
                  class="work-accordion__content_text accordion__content_text"
                >
                  <ul>
                    <li>
                      Менеджер з розвитку бізнесу - займається вашим проектом,
                      знає всі особливості вашого бізнесу, постійно тримає Вас в
                      курсі всіх робіт з проекту, координує роботу спеціалістів;
                    </li>
                    <li>
                      SEO-спеціаліст– збирає ключові слова, вносить правки та
                      допрацьовує сайт таким чином, щоб він досягав перших
                      позицій у результатах пошуку, тобто займається
                      безпосередньо всією роботою з просування сайту;
                    </li>
                    <li>
                      WEB/BI-аналітик – проводить повний аналіз ринку та вашої
                      ніші, аналізує видимість ваших конкурентів, виділяє
                      конкурентні переваги, визначає ефективність рекламних
                      каналів;
                    </li>
                    <li>
                      Юзабіліті спеціаліст – знає як зробити сайт привабливим та
                      збільшити конверсію посадкових сторінок та форм. Проводить
                      аудит сайту, порівнює із сайтами конкурентів. Складає
                      рекомендації.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="work-accordion__item">
            <div class="work-accordion accordion">
              <button
                class="work-accordion__control accordion__control"
                aria-expanded="false"
              >
                <span class="work-accordion__title accordion__title"
                  >Запуск проекту</span
                >
                <span class="work-accordion__icon accordion__icon"></span>
              </button>
              <div
                class="work-accordion__content accordion__content"
                aria-hidden="true"
              >
                <div
                  class="work-accordion__content_text accordion__content_text"
                >
                  <ul>
                    <li>
                      Аналіз тематики - знайомимося з вашим бізнесом, вивчаємо
                      тематику та специфіку ніші. Аналізуємо ринок та середовище
                      конкурентів;
                    </li>
                    <li>
                      Аудит сайту - досліджуємо технічний стан сайту, контент,
                      юзабіліті та посилальний профіль. Формуємо список доробок
                      з технічного покращення, підвищення поведінкових факторів
                      та якості контенту на сайті;
                    </li>
                    <li>
                      Юзабіліті аудит - проводимо аудит поведінки користувачів
                      на сайті. Підключаємо всі необхідні інструменти та
                      налаштовуємо відповідні метрики;
                    </li>
                    <li>
                      Добір ключових слів для розширення структури - збираємо
                      повний список цільових пошукових запитів, за якими ваш
                      сайт ранжуватиметься. Аналізуємо ключові слова
                      конкурентів, складаємо структуру та визначаємо “точки
                      зростання”;
                    </li>
                    <li>
                      Технічна оптимізація сайту - проводимо технічні
                      доопрацювання сайту для SEO, оптимізуємо PageSpeed,
                      виправляємо технічні помилки, що впливають на видимість
                      сайту в пошукових системах.
                    </li>
                    <li>
                      Зовнішня оптимізація сайту - аналізуємо та опрацьовуємо
                      посилання вашого сайту якісними тематичними майданчиками.
                      Підбираємо "трастові" дроп-домени;
                    </li>
                    <li>
                      Аналіз результатів - щомісяця проводимо аналіз основних
                      показників ефективності. Вносимо коригування у план робіт
                      із просування сайту.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="work-accordion__item">
            <div class="work-accordion accordion">
              <button
                class="work-accordion__control accordion__control"
                aria-expanded="false"
              >
                <span class="work-accordion__title accordion__title"
                  >Щомісячний звіт у динамічній формі</span
                >
                <span class="work-accordion__icon accordion__icon"></span>
              </button>
              <div
                class="work-accordion__content accordion__content"
                aria-hidden="true"
              >
                <div
                  class="work-accordion__content_text accordion__content_text"
                >
                  <ul>
                    <li>
                      Зрозумілий інтерфейс та синхронізація з Google Analytics,
                      за необхідності з іншими сервісами (колтрекінг тощо);
                    </li>
                    <li>Можливість контролювати результати 24/7;</li>
                    <li>
                      Порівняльні гістограми для візуалізації результатів;
                    </li>
                    <li>Розподіл трафіку по різних істочниках;</li>
                    <li>
                      У звіті зібрані всі необхідні метрики для оцінки
                      ефективності нашої роботи.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
        </ol>
      </div>
      <div class="work__img">
        <img src="/images/bgWork.png" alt="img" />
      </div>
    </div>
  </div>
</section>
